.title{
  display: block;
  font-size: 40px;
  font-weight: bold;
  margin-left: 20px;
  cursor: pointer;
}
.title:hover{
  text-shadow: 2px 2px 20px pink;
}
.status{
  font-size: 20px;
  margin-left: 20px;
  margin-bottom: 0px;
  margin-top: 30px;
}
.highlight{
  font-size:25px;
  font-weight: bold;
}
.default{
  font-size: 20px;
  font-weight: normal;
}